

#quote-content {
	text-align: center;
	padding-top: 100px;
	height: 675px; 
	background-color: white;
	/*background-image: url('http://i.imgur.com/D6SYxqY.jpg'); */
	background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    color: white;
    margin:0;
}

@media only screen and (max-device-width: 800px) {
	#quote-content {
		height: 1000px;
		padding-top: 75px;
	}	
}

@media only screen and (max-device-width: 350px) {
	#quote-content {
		height: 850px;
		padding-top: 15px;
	}	
}

#quote-background {
	background-color: rgba(10, 10, 10, 0.2);
	border-radius: 15px;
}

body {
	margin: 0;
}

.button {
	border-color: white;
	color: white;
}

#footer {
	position: fixed;
	width: 100%;
	height: 30px;
	text-align: left;
	padding-left: 20px;
    bottom: 0;
	background-color: rgba(10, 10, 10, 0.65);
	color: white;
	
}
